<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chrono Rose - Gallery</title>
    <link rel="stylesheet" href="/code/css/gallery check.css">
</head>
<body>

<main>
    <section class="gallery">
        <div class="gallery-item">
            <a href="page1.html"> <!--watch page-->
                <img src="/PHOTOS/watches/als.png" alt="Watch 1"> <!--image location-->
                <div class="caption">A. Lange & Sohne</div> <!--brand name-->
            </a>
        </div>
        <div class="gallery-item">
            <a href="page2.html">
                <img src="image2.jpg" alt="Watch 2">
                <div class="caption">Caption 2</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page3.html">
                <img src="image3.jpg" alt="Watch 3">
                <div class="caption">Caption 3</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page4.html">
                <img src="image4.jpg" alt="Watch 4">
                <div class="caption">Caption 4</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page5.html">
                <img src="image5.jpg" alt="Watch 5">
                <div class="caption">Caption 5</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page6.html">
                <img src="image6.jpg" alt="Watch 6">
                <div class="caption">Caption 6</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page7.html">
                <img src="image7.jpg" alt="Watch 7">
                <div class="caption">Caption 7</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page8.html">
                <img src="image8.jpg" alt="Watch 8">
                <div class="caption">Caption 8</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page9.html">
                <img src="image9.jpg" alt="Watch 9">
                <div class="caption">Caption 9</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page10.html">
                <img src="image10.jpg" alt="Watch 10">
                <div class="caption">Caption 10</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page11.html">
                <img src="image11.jpg" alt="Watch 11">
                <div class="caption">Caption 11</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page12.html">
                <img src="image12.jpg" alt="Watch 12">
                <div class="caption">Caption 12</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page13.html">
                <img src="image13.jpg" alt="Watch 13">
                <div class="caption">Caption 13</div>
            </a>
        </div>
        <div class="gallery-item">
            <a href="page14.html">
                <img src="image14.jpg" alt="Watch 14">
                <div class="caption">Caption 14</div>
            </a>
        </div>
    </section>
</main>

</body>
</html>
